/* Introduction variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/landing-page/base/variables/colors.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* Titles variables: /assets/stylesheets/base/variables/titles.scss */
$introduction-marging-top: $xl * 2;
$introduction-strong-color: $eos-gray-darker;
$introduction-top-margin: -70px;
$introduction-padding-top: 100px;
$introduction-holder-width: 740px;
$introduction-design-system-img-margin-top: 3em;
$introduction-divider-tool-width: 130px;
$introduction-divider-tool-margin: 1.3em;
$introduction-ruler-and-keyboard-width: 400px;
$introduction-ruler-width: 310px;
$introduction-mouse-height: 110px;
$introduction-mouse-width: 90px;
$introduction-svg-line-to-consistency-right: 28px;
$introduction-svg-line-to-consistency-top: 93px;
$introduction-consistency-autonomy-img-margin-top: 13em;
$introduction-mobile-phone-width: 50px;
$introduction-mobile-laptop-width: 310px;
$introduction-mobile-laptop-mobile-width: 380px;
$introduction-title-width: 320px;
$introduction-svg-line-to-market-left: 19px;
$introduction-svg-line-to-market-top: 214px;
$introduction-fast-market-img-margin-top: 11em;
$introduction-fast-market-img-padding-bottom: 80px;
$introduction-title-width: 320px;
$introduction-monitor-title-width: 370px;
$introduction-monitor-margin-left: 2.4em;
$introduction-monitor-margin-top: -30px;
$introduction-monitor-width: 300px;


$features-title-color: $eos-dark-orange;
$feature-h3-zindex: $zindex-middle;

/* Mobile version */
// Introduction
$introduction-h3-font-size: $h3-font-size / 1.3;
$introduction-h2-font-size: $h2-font-size / 1.3;
$introduction-h1-font-size: $h1-font-size / 1.3;
$introduction-mobile-divider-tool-width: 31px;
$introduction-mobile-pencil-width: 45px;
$introduction-mobile-ruler-and-keyboard-max-width: 200px;
$introduction-mobile-ruler-width: 100px;
$introduction-mobile-keyboard-width: 166px;
$introduction-mobile-mouse-width: 28px;
$introduction-mobile-svg-line-to-consistency-right: -75px;
$introduction-mobile-svg-line-to-consistency-top: 10px;
$introduction-mobile-consistency-autonomy-img-margin-top: 4em;
$introduction-mobile-laptop-and-monitor-width: 133px;
$introduction-mobile-fast-market-img-margin-top: 43em;
