doctype html
html
  head
    title= 'Welcome to EOS Design System | EOS'
    meta(name='description', content= 'EOS provides developers with comprehensive guides on Colors, Icons and Writing. This tools will enable you to deliver engaging UI and consistent UX')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    meta(property='og:title', content='EOS Open Source Design System')
    link(rel='apple-touch-icon', sizes='180x180', href='./assets/images/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/images/favicon/favicon-16x16.png')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.eosdesignsystem.com')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
    link(rel='stylesheet', href='./vendors/css/vendors.min.css')
    link(rel='stylesheet', href='./assets/css/application-landing.css')
    script(src='./vendors/js/vendors.min.js')
    script(src='./assets/js/application-landing.min.js')
  body
    include ../landing-page/shared/cookies-banner.pug
    block content
