/* Buttons variables
   ========================================================================== */
/* color variables: /assets/stylesheets/landing-page/base/variables/colors.scss */

$btn-primary-bg: $eos-pink;
$btn-primary-color: $eos-gray-dark;
$btn-primary-border: 1px solid transparent;
$btn-primary-bg-hover: darken( $eos-pink , 5% );

$btn-default-bg: transparent;
$btn-default-color: $eos-white;
$btn-default-border: 1px solid $eos-white;

$btn-link-color: $eos-white;

$btn-round-border: 20px;

$btn-secondary-bg-hover: $eos-gray-darker;
