/* Landing page components: bottom-links
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/bottom-links/bottom-links.variables.scss */
.bottom-links {
  background: $var-bottom-links;
  background-position: top, bottom;
  background-size: auto;

  @media screen and (max-width: 1300px) {
    background: $bottom-links-background-mobile;
  }

  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }

  &-items {
    margin: $l 0 $m 0;

    > div {
      display: flex;
      flex-direction: column;
      padding-bottom: $l;

      .btn {
        align-self: center;
        margin-top: auto;
      }

    }
  }

  p {
    min-height: 70px;

    @media screen and (max-width: $md-max) {
      min-height: 30px;
    }
  }

  // icons
  &-icon {
    height: 18px;
    margin-right: $s;
  }

  .btn-group-footer {
    display: flex;
    justify-content: space-around;
  }

  //   Mobile version
  @media screen and (max-width: $sd-max) {
    .col-md-4 {
      margin: $xxl 0;
      padding: 0 $xxl;
    }
  }
}
